<ion-header>
  <ion-navbar color="primary">
    <!--<button ion-button menuToggle>-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <button ion-button (click)="getMenu(selectedPlace)" color="danger"> <ion-icon name="clipboard"></ion-icon></button>

    <!--<ion-title>-->
      <!--Ordering-->
    <!--</ion-title>-->
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click) = "toBasket()">
        {{ basketItemsCount }} &nbsp;
        <ion-icon name="basket"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content class="app-content" padding>


  <!--<ion-row class="logo-row">-->
    <!--<ion-col></ion-col>-->
  <!--</ion-row>-->
  <div class="login-box">

      <!--<ion-list *ngFor="let place of places">-->
        <!--<ion-list-header >{{ place.name }}</ion-list-header>-->
        <!--<ion-item-sliding class="shaded-slider" *ngFor="let client of x[type]">-->
          <!--<ion-item>{{ client.name }}</ion-item>-->
        <!--</ion-item-sliding>-->
      <!--</ion-list>-->

    <div *ngIf="!selectedPlace">
      <ion-item *ngFor="let place of places" (click)="getMenu(place._id)">
        <h2>{{ place.name }}</h2>
      </ion-item>
    </div>

    <!--items?.length == 0-->
    <div *ngIf="!selectedCategory">
      <ion-list>
          <ion-item *ngFor="let category of categories" (click)="getItems(category._id)">
            <h2>{{ category.name }}</h2>
          </ion-item>
        </ion-list>
    </div>

    <div *ngIf="selectedPlace && selectedCategory">
      <ion-list>
        <ion-item *ngFor="let item of items" (click)="order(item)">
          <h2>{{ item.name }}</h2>
          <p>{{ item.description }}</p>
          <p class="price">{{ item.price }} {{ item.currency.symbol }}</p>
        </ion-item>
      </ion-list>

      <!--<ion-row *ngFor="let item of items">-->
        <!--<ion-col class="signup-col">-->
          <!--<button ion-button class="submit-btn" (click)="order(item)" full> {{ item.name }} - {{ item.price }} {{ item.currency.symbol }}</button>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
      <!--<button ion-button class="submit-btn" (click)="toBasket()" full> Basket </button>-->
    </div>

  </div>


  <!--<label class="item item-input">-->
    <!--<span class="input-label">Username</span>-->
    <!--<input [(ngModel)]="authenticatedUser.userName" type="text">-->
    <!--{{ authenticatedUser.userName }}-->
  <!--</label>-->
  <!--<label class="item item-input">-->
    <!--<span class="input-label">Password</span>-->
    <!--<input [(ngModel)]="authenticatedUser.password" type="password">-->
    <!--{{ authenticatedUser.password }}-->
  <!--</label>-->
  <!--<button ion-button clear full (click)="login()">Login</button>-->
</ion-content>
