<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Ordering
    </ion-title>
    <ion-title last>
      Items in the basket: {{ basketItemsCount }}
      <!--Logged in as {{ userName }}-->
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="login-content" padding>


  <ion-row class="logo-row">
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">

      <!--<ion-list *ngFor="let place of places">-->
        <!--<ion-list-header >{{ place.name }}</ion-list-header>-->
        <!--<ion-item-sliding class="shaded-slider" *ngFor="let client of x[type]">-->
          <!--<ion-item>{{ client.name }}</ion-item>-->
        <!--</ion-item-sliding>-->
      <!--</ion-list>-->

    <div *ngIf="!selectedPlace">
      <ion-row *ngFor="let place of places">
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" (click)="getMenu(place._id)" full> {{ place.name }}</button>
        </ion-col>
      </ion-row>
    </div>

    <!--items?.length == 0-->
    <div *ngIf="!selectedCategory">
      <ion-row *ngFor="let category of categories">
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" (click)="getItems(category._id)" full> {{ category.name }}</button>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedPlace && selectedCategory">
      <ion-row *ngFor="let item of items">
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" (click)="order(item)" full> {{ item.name }} - {{ item.price }} {{ item.currency.symbol }}</button>
        </ion-col>
      </ion-row>
    </div>

  </div>


  <!--<label class="item item-input">-->
    <!--<span class="input-label">Username</span>-->
    <!--<input [(ngModel)]="authenticatedUser.userName" type="text">-->
    <!--{{ authenticatedUser.userName }}-->
  <!--</label>-->
  <!--<label class="item item-input">-->
    <!--<span class="input-label">Password</span>-->
    <!--<input [(ngModel)]="authenticatedUser.password" type="password">-->
    <!--{{ authenticatedUser.password }}-->
  <!--</label>-->
  <!--<button ion-button clear full (click)="login()">Login</button>-->
</ion-content>
